
@model Product

<div class="container">
    <h1>Create Product</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control" placeholder="Name">
            <span asp-validation-for="Name" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <input asp-for="Description" class="form-control" placeholder="Description">
            <span asp-validation-for="Description" style="color:red"></span>

        </div>
        <div class="mb-3">
            <label asp-for="CostPrice" class="form-label">CostPrice</label>
            <input asp-for="CostPrice" class="form-control" placeholder="CostPrice">
            <span asp-validation-for="CostPrice" style="color:red"></span>

        </div>
        <div class="mb-3">
            <label asp-for="SalePrice" class="form-label">SalePrice</label>
            <input asp-for="SalePrice" class="form-control" placeholder="SalePrice">
            <span asp-validation-for="SalePrice" style="color:red"></span>

        </div>
        <div class="mb-3">
            <label asp-for="DiscountPrice" class="form-label">DiscountPrice</label>
            <input asp-for="DiscountPrice" class="form-control" placeholder="DiscountPrice">
            <span asp-validation-for="DiscountPrice" style="color:red"></span>

        </div>
        <div class="mb-3">
            <label asp-for="SKU" class="form-label">SKU</label>
            <input asp-for="SKU" class="form-control" placeholder="SKU">
            <span asp-validation-for="SKU" style="color:red"></span>

        </div>
        
        <div>
            <label asp-for="TagId">Tag</label>
            <select class="form-select" aria-label="Default select example" asp-for="TagId">
                @foreach (Tag author in ViewBag.Tag)
                {
                    <option value="@author.Id">@author.Name</option>

                }
            </select>
        </div>

        <div>
            <label asp-for="CategoryId  ">CategoryId</label>
            <select class="form-select" aria-label="Default select example" asp-for="CategoryId">
                @foreach (Category category in ViewBag.Category)
                {
                    <option value="@category.Id">@category.Name</option>

                }
            </select>
        </div>


        <div class="mb-3">
            <label asp-for="ImageFile" class="form-label">ImageFile</label>
            <input asp-for="ImageFile" class="form-control" placeholder="ImageFile">
            <span asp-validation-for="ImageFile" style="color:red"></span>
        </div>
       
        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>